.project-header {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
}

.header-container {
    width: 100%;
    position: relative;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-link {
    padding-right: 95px;
}

.company-logo {
    padding-left: 60px;
}

@media screen and (max-width: 600px) {
    .company-logo {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .nav-link {
        padding-right: 52px;
    }
}

@media screen and (max-width: 450px) {
    .company-logo {
        width: 35%;
        height: auto;
    }

    .nav-link {
        padding-right: 52px;
    }
}

@media screen and (max-width: 425px) {
    .company-logo {
        padding-left: 10px;
    }

    .nav-link {
        padding-right: 25px;
    }
}