.contact-page-container {
    width: 100%;
}

.contact-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    box-sizing: border-box;
}

.contact-navigation {
    box-sizing: border-box;
}

@media screen and (max-width: 830px) {
    .contact-page-content {
        flex-direction: column;
        justify-content: flex-start;
    }
}
