.home-page-container {
    max-width: 100%;
}

.tile-set {
    padding: 140px 50px 65px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    .tile-set {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .tile-set {
        justify-content: stretch;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .tile-set {
        padding-left: 10px;
    }
}
